<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati blanditiis provident nostrum deleniti labore nobis eius architecto recusandae beatae quod.</p>
    </div>

</section>