<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
           
            <div class="card-body">
               
               <h3>Hasta luego {{email}}</h3>
            </div>
        </div>
    </div>
</div>